.project-2__brand{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.project-2__brand div{
    
    display: flex;
    flex: 1;
     justify-content: center;
    align-items: center;
    max-width: 250px;
    min-width: 220px;
    margin: 1rem;
    gap: 1rem;
}
